<!doctype html>
<html lang="en", xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin DashBoard</title>
</head>
<body>
        <a th:href="@{/adminSystem/itemindex}">Item</a>
        <a th:href="@{/adminSystem/categoryindex}">Category</a>
        <a th:href="@{/adminSystem/pendingShops}">Comfirm Pending Shop</a>
        <a th:href="@{/LogIn/logout}">Logout</a>

<!--        <a th:href=""></a>-->
<!--        <a th:href=""></a>-->
<!--        <a th:href=""></a>-->

</body>
</html>