* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    background-color: rgb(5, 24, 0);
}

nav{
    background-color: rgb(5, 24, 0);
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-items: center;
    top: 0;
    right: 0;
    /* z-index: 1000; */
    
}
.my-nav ul{
    
    margin: auto auto auto 40px;
    display: flex;
    gap: 30px;
    padding: 20px 10px;
    
    
    
}

.my-nav ul li {
    list-style: none;
    
}

nav ul li a{
    
    text-decoration: none;
    color: whitesmoke;
    justify-content: center;
}
.searchBar {
    width: 600px;
    height: 40px;
    margin-left: 250px;
    /* padding: 10px; */
  }
.searchBar::placeholder{
    
    color: gray;
    opacity: 1;
    font-style: italic;
    margin-left: 20px;
    
}
.exchange{
    margin-left: 50px;
    color: whitesmoke;
    
}
.code-scan{
    margin-left: 50px;
    color: whitesmoke;
}
.chat{
    margin-left:50px;
    color: whitesmoke;
}


.ppa-default-bar{
    width: 100%;
    
    background-color: rgb(10, 46, 0);
    position: fixed;
    top: 80px;
    display: flex;
}

.ppa-bar{
   
    margin: 3px auto;
}

.ppa-bar ul{
    
    display: flex;
    gap: 70px;
    margin: 5px auto;
    list-style-type: none;
    
    
}

.ppa-bar ul li {
    
    
    
}
.ppa-bar ul li a{
    
    text-decoration: none;
    color: whitesmoke;
}
.ads-img{
    display: block;
    margin: 130px auto;
}
.theme-change{
    
    width: 50px;
    height: 50px;
    background-color: #8bb399;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 380px;
    border: none;  
    position: fixed;
    border-radius: 5px; 
    top: 140px;
    left: 10px;
    z-index: 1001;
}

.brightness-high-fill{
    color: whitesmoke;
}

.grid-recent-layout{
    
    width: 100%;
    padding: 20px;
    
    margin: -130px auto;
    
    
}
.recent-view{
    background-color: transparent;
    color: whitesmoke;
    margin-bottom: 20px;
    

}
.recent-view a{
    background-color: transparent;
    color: #a5cfb3;
    font-size: 15px;
    text-decoration: none;
    margin-left: 1000px;
}
.grid-layout-recent{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    list-style-type: none;
    margin: 20px;
    max-width: 100%;
    gap: 10px;
    height: 246px;   
    margin-top: -40px;

    
}
.grid-layout-recent li{ 
    background-color: rgba(255, 255, 255, 0.1);
    
    border-radius: 5px;
    gap: 30px;
    margin-top: 40px;
    
    
}

.recommend-product-layout{
    width: 98%;
    height: 294px;
    background-color: whitesmoke;
    margin: 140px auto; /*140px is top bottom/ auto is left right */
    
    
}
.grid-layout-recommend{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    list-style: none;
    /* border-radius: 10px; */
    border-color: black;
}
.recommend-layout-recommend li{
    background-color: black;
    border-radius: 5px;
}



.footer-grid{
    grid-template-columns: auto auto auto auto auto auto;
    background-color: white;
}

.footer-icon{
    /* display: flex; */
    /* gap: 30px; */
}
.i-facebook{
    color: rgb(5, 24, 0);
    background-color: transparent;
    opacity: 0.3;
}
.i-facebook:hover{
    opacity: 1;
}
.i-x{
    color: rgb(5, 24, 0);
    background-color: transparent;
    opacity: 0.3;
}
.i-x:hover{
  
    opacity: 1;
}
.i-tiktok{
    color: rgb(5, 24, 0);
    background-color: transparent;
    opacity: 0.3;
}
.i-tiktok:hover{
  
    opacity: 1;
}
.footer-term{
    font-size: 14px;
    display: flex;
    color: rgb(5, 24, 0);
    background-color: white;
    padding: 10px 0px;
    
}
.footer-term a{
    text-decoration: none;
    display: inline;
    color: rgb(5, 24, 0);
    opacity: 0.3;
    transition: 0.1s;
    padding: 0 10px;
    
    
}
.footer-term-items{
    margin-left: 1000px ;
}
.parent > .child1,
        .parent > .child2{
            margin-left: 1030px;
            margin-bottom: 5px;
            font-size: 15px;
        }
.footer-term a:hover{
    opacity: 1;
}
.copyright-div{
    background-color: white;
}
.copyright {
    margin-bottom: auto ;
    margin-left: 1020px;
    /* margin-top: 10px; */
    font-size: 15px;
    padding: 0px 0px ;
}
.footer-grid{
    display: grid;
   
}


.footer-grid ul li a {
    text-decoration: none;
    color: black;
    
    
    
}

.footer-grid ul li{
    
    list-style: none;
    padding: 30px auto;
}